*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_wrapper{ 
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: black;
    color: white;
}
.items{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}


.item a{
    text-decoration: none;
    color: white;
}
.item a:hover{
 color: black;
 background-color: white;
 border-radius: 10%;
}
a:active{
    color: black;
    background-color: white;
    border-radius: 10%;
}
 
@media screen and (max-width:480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header_wrapper{
        width: 100%;
        position:sticky;
        top: 0px;
    }
    .nav_wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row1{
        display: flex;
        flex-direction: column;
    }
    .container-caption{
        width: 100%;
    }
    .caption h1{
        margin: 0
        ;
        width: 100%;
        padding: auto;
        font-size:30%;
        font-family:"Inter";
    }
    .image{
        width: 93%;
        margin: auto;
        padding: auto;
    }
}
@media screen and (max-width:480px) {

    .aboutcontainer{
        display: flex;
        flex-direction: column;
    }
    .aboutpic{
        margin: auto;
        width: 93%;
        overflow: hidden;
    }

}
.container-caption{
    background-color: black;
}
.row1{
    display: flex;
    justify-content: space-between;
}

.caption h1{
    padding: 30px;
    color: white;
    font-size: 100px;
    font-family:"Inter";  
    animation-name: cap;  
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes cap {
    25%{
        opacity: 25%;
    }    
    50%{
        opacity: 25%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}
.image{
    max-width: 100%;
    margin-top: 100px;
    padding-left: -200 px;
}

.arrow{
    width: 30px;
    height: 20px;
    padding-bottom: 10px;
}
.aboutcontainer{
    background-color: white;
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
}
.aboutpic{
    padding: 1rem;
}
.aboutpara{
    padding: 1rem;
    font-size: larger;
}
    

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    gap: 50px;
    overflow-x: auto;
}


.card{
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    min-height: 300px;
    
}
.card:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.footerheading{
    display: flex;
    justify-content: center;
    text-align: center;
    background: transparent;
}

footer{
    margin-top: 100px;
}
.contact{
    border-radius: 20px;
}
.contact ::placeholder{
    color: white;
}
.contact ,input{
    padding: 30px;
}
